<p>&nbsp;</p>
<div class="row"  ng-if="myVar">
        <div class="col col-xl-11 col-lg-12 ">

            <div class="panel panel-primary no-padding">
                <!-- <div class="card-header">INTERVIEWERS</div> -->
                <!-- <tr>
                        <td colspan="8"  class="no-padding"> -->
                                <div class="topnav bg-clr">
                                        <a class="active" href="#home">&nbsp;</a>

                                        <!--<div class="search-container">-->
                                            <!--&lt;!&ndash; <input (keyup)="onKey($event)" class="brdr-rds" type="text" name="search" placeholder="&nbsp;&nbsp;Search..."> &ndash;&gt;-->
                                            <!--<input [(ngModel)]='listPendingFilter' class="brdr-rds" type="text" placeholder="&nbsp;&nbsp;Search..." name="search">-->
                                            <!--&lt;!&ndash; <input (input)="onKey(search.value)"  class="brdr-rds" type="text" name="search" placeholder="&nbsp;&nbsp;Search..."> &ndash;&gt;-->
                                            <!--&nbsp;&nbsp;-->
                                        <!--</div>-->
                                </div>
                        <!-- </td>
                    </tr> -->
                <table class="table outer-brdr table-hover">
                    <thead>
                    <tr >
                        <th class="hght">First Name</th>
                        <th class="hght">Last Name</th>
                        <th class="hght">Technology</th>
                        <th class="outer-brdr-tbl hght"></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let candidate of icandidate '>

                            <td hidden >{{candidate.id}} </td>
                            <td class="hght_td">{{candidate.firstName}}</td>
                            <td class="hght_td">{{candidate.lastName}}</td>
                            <td class="hght_td">{{interviewer.technologyStack}}</td> 
                        </tr>
                    </tbody>
                </table>
        </div>
        <p></p>

</div>

</div>

