<div>
   
    <div class="col col-xl-11">    
        <!-- <button type="button" class="btn btn-sm btn-primary"  (click)='addTemplate()'> Add Interviewer</button> -->
        <a routerLink="/interviewer/add" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user"></i>&nbsp;{{ 'Add Interviewer'}}
            </a>
    </div>

    <div>
        <!-- <add-interviewer></add-interviewer> -->
    </div>

    <div>
        <list-interviewer></list-interviewer>
    </div>
   
</div>