<div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="./assets/images/login_icon.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onLoggedin()">
            <input type="text" id="user" formControlName="user" class="fadeIn second"  placeholder="Email">
            <input type="password"  id="pass" formControlName="pass" class="fadeIn third" placeholder="Password">
            <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid" value="login">
            <div>
                    <span style="color: red">{{errorMessage}}</span>  
            </div>
            
        </form> 
          
        
        </div>
</div>
