.bg-clr{
    background-color: #27598c;
    color: #fff;
}

.bg-pending-new {
    background-color: rgb(255, 180, 51);
}

.bg-ack-new {
    background-color:#cccc00;
}

.bg-approved-new {
    background-color: #1aff1a;
}
