
.bg-pending-new {
    background-color: rgb(255, 180, 51);
}

.bg-ack-new {
    background-color:#cccc00;
}

.bg-approved-new {
    background-color: #1aff1a;
}
.dsp-none{
  display: none;
}

.dsp-show{
  display: show;
}

.bg-clr{
    background-color: #27598c;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #134e66;
    }

    .searchBy {
      color: #cccccc;
      text-align: center;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #134e66;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    .outer-brdr{
        border:1px solid #cccccc;
    }
    .hght{
        padding: 3px 0px 3px 15px;
        font-size: 17px;
    }

    .hght_td{
        padding: 3px 0px 3px 15px;
        font-size: 14px;
    }

    .outer-brdr-tbl{
        border-right:1px solid #cccccc;
    }

    .brdr-rds{
        border-radius: 200px;
    }

    .no-padding{
        padding:0px;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }

  .fa-check-circle  {
      color: green;
      position: relative;
      cursor: pointer;
  }
  
  .fa-check-circle:hover {
    background-color:yellowgreen}
  
  
  .fa-check-circle:active.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .fa-times-circle {
    position: relative;
    cursor: pointer;

  }

  .fa-times-circle:hover {
    background-color:yellowgreen}
  
  
  .fa-times-circle:active.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .fa-arrow-circle-right {
    position: relative;
    cursor: pointer;

  }

  .fa-arrow-circle-right:hover {
    background-color:yellowgreen}
  
  
  .fa-arrow-circle-right:active.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  

    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    }

  input[type=text] {
      width: 200px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
      width: 400px;
  }
