<div class="col-lg-6">
        <!-- <h1>Add Interivewer</h1> -->
        <form (ngSubmit)="addInterviewer()" [formGroup] = "addInterviewerForm">
                <div class="form-group" [ngClass]= "{'has-error':(addInterviewerForm.get('interviewerID').touched) ||
                                                                (addInterviewerForm.get('interviewerID').dirty) &&   
                                                                (!addInterviewerForm.get('interviewerID').valid)}">
                
                <div>
                        <fieldset>              
                                <label>interviewer ID </label>
                                <input class="form-control" id="interviewerID" 
                                        type = "text"
                                        placeholder="Enter Employee ID(Required)"
                                        formControlName="interviewerID"/>
                                
                                <div>
                                        <span class="help-block" *ngIf= "(addInterviewerForm.get('interviewerID').touched) ||
                                                                (addInterviewerForm.get('interviewerID').dirty) &&   
                                                                 (!addInterviewerForm.get('interviewerID').valid)">

                                                 <span *ngIf="addInterviewerForm.get('interviewerID').errors.required">
                                                        Please enter the Interviewer ID
                                                </span>
                                        </span>
                                 </div>
                        
                        </fieldset>
                </div>
                </div>

                <div class="form-group" [ngClass]= "{'has-error':(addInterviewerForm.get('firstName').touched) ||
                                                                (addInterviewerForm.get('firstName').dirty) &&   
                                                                (!addInterviewerForm.get('firstName').valid)}">
                
                <div>
                        <fieldset>              
                                <label>First Name </label>
                                <input class="form-control" id="firstName" 
                                        type = "text"
                                        placeholder="Enter First Name(Required)"
                                        formControlName="firstName"/>
                                
                                <div>
                                        <span class="help-block" *ngIf= "(addInterviewerForm.get('firstName').touched) ||
                                                                (addInterviewerForm.get('firstName').dirty) &&   
                                                                 (!addInterviewerForm.get('firstName').valid)">

                                                 <span *ngIf="addInterviewerForm.get('firstName').errors.required">
                                                        Please enter the First Name
                                                </span>
                                        </span>
                                 </div>
                        
                        </fieldset>
                </div>
                </div>
                
                <div class="form-group" [ngClass]= "{'has-error':(addInterviewerForm.get('lastName').touched) ||
                                                                (addInterviewerForm.get('lastName').dirty) &&   
                                                                (!addInterviewerForm.get('lastName').valid)}">
                
                <div>
                        <fieldset>              
                                <label>Last Name </label>
                                <input class="form-control" id="lastName" 
                                        type = "text"
                                        placeholder="Enter Last Name (Required)"
                                        formControlName="lastName"/>
                                
                                <div>
                                        <span class="help-block" *ngIf= "(addInterviewerForm.get('lastName').touched) ||
                                                                (addInterviewerForm.get('lastName').dirty) &&   
                                                                 (!addInterviewerForm.get('lastName').valid)">

                                                 <span *ngIf="addInterviewerForm.get('lastName').errors.required">
                                                        Please enter the Last Name
                                                </span>
                                        </span>
                                 </div>
                        
                        </fieldset>
                </div>
                </div>

                <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="!addInterviewerForm.valid">Save</button>
                        <!-- <button class="btn btn-primary" type="submit" [disabled]="!addInterviewerForm.valid">populateTest</button> -->
                </div>
        </form>
</div>
