<div class="panel panel-default">
        <div class="panel-heading">Panel Heading</div>
        <div class="panel-body">
           <form class="form-horizontal"
           novalidate
           (ngSubmit)="addInterviewer()"
           [formGroup]="addInterviewerForm">
           <fieldset>
              <div class="row">
                 <div class="col-md-6">
                    <div class="form-group"
                       [ngClass]="{'has-error': (addInterviewerForm.get('interviewerID').touched || 
                       addInterviewerForm.get('interviewerID').dirty) &&
                       !addInterviewerForm.get('interviewerID').valid }">
                       <label class="col-md-12 control-label" 
                          for="interviewerID">Employee ID <span class="help-block" *ngIf="(addInterviewerForm.get('interviewerID').touched || 
                          addInterviewerForm.get('interviewerID').dirty) && 
                          addInterviewerForm.get('interviewerID').errors">
                       <span class="req-clr" *ngIf="addInterviewerForm.get('interviewerID').errors.required">
                       **
                       </span>
                       <span class="req-clr" *ngIf="addInterviewerForm.get('interviewerID').errors.minlength">
                         Min Length is 4.
                       </span>
                       <span class="req-clr" *ngIf="addInterviewerForm.get('interviewerID').errors.maxlength">
                       Max Length is 4.
                       </span>
                       </span></label>
                       <div class="col-md-12">
                          <input class="form-control" 
                             id="interviewerID" 
                             type="text" 
                             placeholder="Employee ID (required)" 
                             formControlName="interviewerID" />
                       </div>
                    </div>
                    <div class="form-group"
                       [ngClass]="{'has-error': (addInterviewerForm.get('firstName').touched || 
                       addInterviewerForm.get('firstName').dirty) &&
                       !addInterviewerForm.get('firstName').valid }">
                       <label class="col-md-12 control-label" 
                          for="firstNameId">First Name
                           <span   class="help-block" *ngIf="(addInterviewerForm.get('firstName').touched || 
                          addInterviewerForm.get('firstName').dirty) && 
                          addInterviewerForm.get('firstName').errors">
                       <span class="req-clr" *ngIf="addInterviewerForm.get('firstName').errors.required">
                       **
                       </span>
                       <!-- <span class="req-clr" *ngIf="addInterviewerForm.get('firstName').errors.minlength">
                       The first name must be longer than 3 characters.
                       </span> -->
                       </span></label>
                       <div class="col-md-12">
                          <input class="form-control" 
                             id="firstNameId" 
                             type="text" 
                             placeholder="First Name (required)" 
                             formControlName="firstName" />
                          
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-md-12 control-label"> Experience</label>
                       <div class="col-md-12">
                          <select class="form-control"
                             id="bandExperience"
                             formControlName="bandExperience">
                             <option value="" disabled selected hidden>Select a value...</option>
                             <option value="1">1</option>
                             <option value="2">2</option>
                             <option value="3">3</option>
                             <option value="4">4</option>
                             <option value="5">5</option>
                             <option value="6">6</option>
                             <option value="7">7</option>
                             <option value="8">8</option>
                          </select>
                       </div>
                    </div>
                    <div class="form-group"
                       [ngClass]="{'has-error': !addInterviewerForm.get('contactNumber').valid }">
                       <label class="col-md-12 control-label" for="contactNumber">Phone
                            <span class="help-block" *ngIf="(addInterviewerForm.get('contactNumber').touched || addInterviewerForm.get('contactNumber').dirty) && addInterviewerForm.get('contactNumber').errors">
                                    <span class="req-clr"  *ngIf="addInterviewerForm.get('contactNumber').errors">
                                      Invalid Number
                                    </span>
                                    <span class="req-clr"  *ngIf="addInterviewerForm.get('contactNumber').errors.maxlength">
                                    Invalid number
                                     </span>
                                    </span>
                       </label>
                       <div class="col-md-12">
                          <input class="form-control" 
                             id="contactNumber" 
                             type="tel" 
                             placeholder="contactNumber" 
                             formControlName = "contactNumber" />
                         
                       </div>
                    </div>
                    <div class="form-group">
                       &nbsp;&nbsp;&nbsp;
                       <button class="btn bg-btn"
                          type="submit"
                          [disabled]="!addInterviewerForm.valid">
                       <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                       </button>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="form-group"
                       [ngClass]="{'has-error': (addInterviewerForm.get('emailId').touched || addInterviewerForm.get('emailId').dirty) && !addInterviewerForm.get('emailId').valid }">
                       <label class="col-md-12 control-label" 
                          for="emailId">Email ID
                          <span class="help-block" *ngIf="(addInterviewerForm.get('emailId').touched || addInterviewerForm.get('emailId').dirty) && addInterviewerForm.get('emailId').errors">
                                <span class="req-clr" *ngIf="addInterviewerForm.get('emailId').errors.required">
                                    **
                                </span>
                                <span class="req-clr" *ngIf="addInterviewerForm.controls.emailId.errors">
                                     Invalid Email.
                                </span>
                                </span>
                            </label>
                       <div class="col-md-12">
                          <input class="form-control" 
                             id="emailId" 
                             type="text" 
                             placeholder="Email (required)" 
                             formControlName="emailId" />
                        
                       </div>
                    </div>
                    <div class="form-group"
                       [ngClass]="{'has-error': (addInterviewerForm.get('lastName').touched || addInterviewerForm.get('lastName').dirty) && !addInterviewerForm.get('lastName').valid }">
                       <label class="col-md-12 control-label" 
                          for="lastNameId">Last Name  
                                <span class="help-block" *ngIf="(addInterviewerForm.get('lastName').touched || addInterviewerForm.get('lastName').dirty) && addInterviewerForm.get('lastName').errors">
                                <span class="req-clr" *ngIf="addInterviewerForm.get('lastName').errors.required">
                                **
                                </span>
                                </span></label>
                       <div class="col-md-12">
                          <input class="form-control" 
                             id="lastNameId" 
                             type="text" 
                             placeholder="Last Name (required)" 
                             formControlName="lastName" />
                         
                       </div>
                    </div>
                    <div class="form-group">
                       <label class="col-md-12"> Technology community</label>
                       <div class="col-md-12">
                          <select class="form-control"
                             id="technologyCommunity"
                             formControlName="technologyCommunity">
                             <option value="" disabled selected hidden>Select a value...</option>
                             <option value="JAVA">Java</option>
                             <option value="DOTNET">Dotnet</option>
                             <option value="TESTING">Testing</option>
                             <option value="MAINFRAME">Mainframe</option>
                          </select>
                       </div>
                    </div>
                 </div>
              </div>
           </fieldset>
           </form>
        </div>
     </div>
     <!-- <br>Dirty: {{ addInterviewerForm.dirty }} 
        <br>Touched: {{ addInterviewerForm.touched }}
        <br>Valid: {{ addInterviewerForm.valid }}
        <br>Value: {{ addInterviewerForm.value | json }} -->