<div class="col-lg-6">
        <!-- <h1>Add Interivewer</h1> -->
        <p></p>
            <form role="form">
                <div class="form-content">
                        <fieldset class="form-group">
                                <label>FirstName</label>
                                <input class="form-control" placeholder="Enter FirstName">
                            </fieldset>
            
                            <fieldset class="form-group">
                                <label>lastName</label>
                                <input class="form-control" placeholder="Enter LastName">
                            </fieldset>
            
                            <fieldset class="form-group">
                                    <label>Employee ID</label>
                                    <input class="form-control" placeholder="Enter Employee ID">
                            </fieldset>
                            <fieldset class="form-group">
                                    <label>Experience</label>
                                    <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                            </fieldset>
                            <fieldset class="form-group">
                                    <label>Community </label>
                                    <select class="form-control">
                                            <option>Java</option>
                                            <option>DotNet</option>
                                            <option>Mainframe</option>
                                            <option>Testing</option>
                                            <option>Drupal</option>
                                        </select>
                            </fieldset>
                </div>
                <div>
                        <button type="button" class="btn btn-sm btn-primary" style='margin-right:16px'> Save</button>
                        <button type="button" class="btn btn-sm btn-primary" style='margin-right:16px'>Reset</button>
                 </div>
            </form>
</div>
