<p>&nbsp;</p>
<div class="row">
    <div class="col col-xl-11 col-lg-12 ">

        <div class="panel panel-primary no-padding">
            <table class="table outer-brdr table-hover">
                <thead>
                    <tr>
                        <td colspan="8" class="no-padding">
                            <div class="topnav bg-clr">
                                <a class="active" href="#home">&nbsp;</a>
                                <div class="search-container">
                                     <input [(ngModel)]='listFilter' class="brdr-rds" type="text" placeholder="&nbsp;&nbsp;Search..." name="search">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="hght">Emp ID</th>
                        <th class="hght">First Name</th>
                        <th class="hght">Last Name</th>
                        <th class="hght">Email</th>
                        <th class="hght">Phone</th>
                        <th class="outer-brdr-tbl hght"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let recruiter of recruiters | recruiterFilter : listFilter'>
                        <td hidden>{{recruiter.id}} </td>
                        <td class="hght_td">{{recruiter.recruiterId}} </td>
                        <td class="hght_td">{{recruiter.firstName}}</td>
                        <td class="hght_td">{{recruiter.lastName}}</td>
                        <td class="hght_td">{{recruiter.emailId}}</td>
                        <td class="hght_td">{{recruiter.contactNumber}} </td>
                        <td class="outer-brdr-tbl hght_td">
                            <a (click)="delete(recruiter.id)" class="fa fa-trash" aria-hidden="true"></a>
                            &nbsp; &nbsp;
                            <a class="fa fa-edit" aria-hidden="true" [routerLink]="['/recruiter/edit',recruiter.id]"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>
    </div>

</div>