<div >
  <div class="container-fluid"> 
          <table class="card-header">
                  <thead>
                  <tr>
                      <th> <button type="button" class="btn btn-lg btn-primary">Add </button></th>
                      <th> <button type="button" class="btn btn-lg btn-primary">Update </button></th>
                      <th> <button type="button" class="btn btn-lg btn-primary">Delete </button></th>
                  </tr>
                  </thead>
                  <tbody>
              </table>
             
             

   </div>
  <p></p>
  <div class="row">
          
          <div class="col col-xl-11 col-lg-12">
              <div class="card mb-3">
                  <div class="card-header">INTERVIEWERS</div>
                  <table class="card-body table table-hover">
                      <thead>
                      <tr onclick="updateValue()">
                          <th>#</th>
                          <th>Emp ID</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Email</th>
                          <th>Experience</th>
                          <th>Phone</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>67224</td>
                          <td>krishna</td>
                          <td>Arjunan</td>
                          <td>krishnakumar.arjunan@softvision.com</td>
                          <td>11</td>
                          <td>9886780405</td>
                      </tr>
                      <tr>
                              <th scope="row">1</th>
                              <td>67224</td>
                              <td>krishna</td>
                              <td>Arjunan</td>
                              <td>krishnakumar.arjunan@softvision.com</td>
                              <td>11</td>
                              <td>9886780405</td>
                          </tr>
                          <tr>
                                  <th scope="row">1</th>
                                  <td>67224</td>
                                  <td>krishna</td>
                                  <td>Arjunan</td>
                                  <td>krishnakumar.arjunan@softvision.com</td>
                                  <td>11</td>
                                  <td>9886780405</td>
                              </tr>
                      </tbody>
                  </table>
          </div>
          <p></p>    
  </div>
          
  </div>
  
</div>
