.bg-clr{
    background-color: #27598c;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #134e66;
    }

    .searchBy {
      color: #cccccc;
      text-align: center;
    }
    
    .topnav a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #134e66;
      color: white;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;
    }
    
    .topnav .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 8px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
    .outer-brdr{
        border:1px solid #cccccc;
    }
    .hght{
        padding: 3px 0px 3px 15px;
        font-size: 17px;
    }

    .hght_td{
        padding: 3px 0px 3px 15px;
        font-size: 14px;
    }

    .outer-brdr-tbl{
        border-right:1px solid #cccccc;
    }

    .brdr-rds{
        border-radius: 40px;
    }

    .no-padding{
        padding:0px;
    }
    
    .topnav .search-container button:hover {
      background: #ccc;
    }

    
    .fa-edit  {
      color: blue;
      position: relative;
      cursor: pointer;
  }

  .fa-eye  {
    color: blue;
    position: relative;
    cursor: pointer;
}

.fa-eye-o:hover {
  background-color:rgb(152, 214, 28)}


.fa-eye:active.button:active {
  background-color: blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}  


  .fa-edit-o:hover {
    background-color:rgb(152, 214, 28)}
  
  
  .fa-edit:active.button:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


    .fa-trash-o  {
      color: red;
      position: relative;
      cursor: pointer;
  }
  
  .fa-trash-o:hover {
    background-color:yellowgreen}
  
  
  .fa-trash-o:active.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

    .fa-bell  {
      color: green;
      position: relative;
      cursor: pointer;
  }
  
  .fa-bell:hover {
    background-color:yellowgreen}
  
  
  .fa-bell:active.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
    
    @media screen and (max-width: 600px) {
      .topnav .search-container {
        float: none;
      }
      .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
      }
      .topnav input[type=text] {
        border: 1px solid #ccc;  
      }
    }