.panel-default {
    border-color: #000;
}

.bg-btn{
    background-color: #27598c;
    color: #fff;
}

.req-clr {
    color:red;
}

label{
    font-weight: bold;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border:1px solid #ddd;
}

.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #27598c;
    border-color: #000;
    padding: 10px;
}

.panel-default>.panel-body {
    color: #333;   
    border-color: #ddd;
    padding: 10px;
}

.txt-align-cntr{
    text-align: center;
}




